@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

html {
    scrollbar-width: normal;
    scrollbar-color: red;
}

html::-webkit-scrollbar {
    width: 0.7vw;
}

html::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(40, 40, 40);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.freemium {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}


.freemium .plan {
    position: relative;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-height: 430px;
    min-height: 430px;
    transition: 0.4s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.freemium .plan:hover {
    max-height: 460px;
    min-height: 460px;
    width: 21.5%;

}


.freemium .plan img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    width: 200px;
    width: 100%;
    object-fit: cover;
}

.freemium .plan span {
    color: white;
    background-color: red;
    position: absolute;
    padding: 5px 20px;
    border-radius: 10px 0px 10px 0px;
    width: 170px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.freemium .plan span h1 {
    font-size: 27px;
}

.freemium .plan ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(40%);
    justify-content: center;
}

.freemium .plan ul li {
    list-style: none;
    border-bottom: #e8e8e8 2px solid;
    margin-bottom: 5px;
}

.freemium .plan ul li:last-child {
    border: none;
}

.freemium .plan a {
    position: absolute;
    bottom: -10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.freemium .plan a:hover {
    background-color: transparent;
    border: 2px red solid;
    color: red;
}