@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');




html {
    scrollbar-width: normal;
    scrollbar-color: red;
}

html::-webkit-scrollbar {
    width: 0.7vw;
}

html::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(40, 40, 40);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body {
    height: 200vh;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    z-index: 99999;
}

#loading h1 {
    position: absolute;
    height: 130px;
    width: 130px;
    font-size: 20px;
    border-radius: 60%;
    border: 3px rgb(91, 91, 91) solid;
    text-align: center;
    line-height: 130px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#loading h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    left: -3px;
    border-radius: 50%;
    border: 3px transparent solid;
    border-top: 3px red solid;
    border-right: 3px red solid;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header {
    position: fixed;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 10000;
    justify-content: space-between;
    transition: 0.6s;
    height: 12%;
}

.header .profile h3 {
    color: white;
}

.header.active {
    background-color: #e8e8e8;
    border-radius: 0px 0px 1px 1px;
    height: 9%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header.active a,
.header.active .sign button,
.header.active .profile h3 {
    color: black;
    text-shadow: none;
}

.logo {
    color: white;
    font-size: 32px;
    font-weight: 700px;
    pointer-events: visible;
}

.navbar a {
    position: relative;
    right: -40px;
    color: white;
    margin-right: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);

}

.navbar a:hover {
    color: tomato;
    border-radius: 20px;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: tomato;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.navbar a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.banner {
    background: url(../img/bannar.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position: center;
    align-items: center;
}

.banner .content {
    position: absolute;
    left: 100px;
    top: 270px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 50%;
    text-align: left;
}

.banner .content h3 {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    font-weight: 700px;
    font-size: 32px;
    margin-bottom: 20px;
}

.banner .content p {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    font-size: 20px;

}

.banner .content .btn {
    position: relative;
    top: 15px;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px red solid;
    overflow: hidden;
    transition: 0.4s;
    z-index: 1;
}

.banner .content .btn::before {
    background-color: red;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.4s;
}

.banner .content .btn:hover:before {
    width: 0;
}


.banner .paylas {
    position: absolute;
    right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.3);
}

.banner .paylas h3 {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 2px solid white;
    color: white;
    transform: rotateZ(-90deg);
    transition: color .4s;

}

.banner .paylas h3:hover {
    color: red;
    cursor: pointer;
}

.banner .paylas a i {
    color: white;
    transition: color .4s;
}

.banner .paylas a i:hover {
    color: red;
}




header .sign button a {
    color: white;
    font-size: 16px;
    transition: color .5s ease;
}

header .sign a {
    color: white;
    transition: .4s;
}

header .sign a:hover:nth-child(1) {
    color: red;
    border-bottom: red 1px solid;
}

header .sign button {
    position: relative;
    color: white;
    text-align: center;
    border: rgb(209, 56, 56) 2px solid;
    background-color: transparent;
    margin: 10px;
    padding: 5px 30px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

}

header .sign button:hover a {
    color: black;
    font-size: 16px;

}

header .sign button span {
    background: red;
    height: 100%;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.8s;
}

header .sign button:hover span {
    width: 100%;

}

.banner:hover {
    background-color: antiquewhite;
}

.container {
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 50px;
}

.container .cards {
    width: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container .cards .card {
    border-radius: 30px 0 30px 0px;
    width: 25%;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.container .cards .card:hover {
    background-color: black;
}



.container .cards .card:hover h1 {
    color: white;
}

.container .cards .card:hover p {
    color: white;
    font-weight: 100;
}

.container .cards .card:hover p span {
    color: white;

}

.container .cards .card:hover a {
    color: white;
}


.container .cards .card i {
    color: red;

    transform: scale(4);
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);

}

.container .cards .card h1 {
    font-size: 32px;
    font-weight: 700;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    margin-top: 20px;

}

.container .cards .card p {
    text-align: center;
    margin: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);

}

.container .cards .card a {
    position: relative;
    text-decoration: none;
    color: red;
    font-size: 16px;
    transition: 0.5s;
    margin: 0;
}

.container .cards .card a:hover {
    color: red;
}

.container .cards .card a i {
    opacity: 0;
    transform: scale(1);
    margin: 0;
    transition: 0.5s;
    position: absolute;
    right: -15px;
    top: 5px;
}

.container .cards .card a:hover i {
    opacity: 1;
}


header .profile {
    display: flex;
    align-items: center;
}

header .profile .imgbox {
    position: relative;
    width: 50px;
    height: 50px;
}

header .profile img {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    border: 2px red solid;

}

header .profile .profileactive h3 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .profile .profileactive h3 i {
    margin-left: 2px;
    scale: 0.8;
}

header .profile .profileactive .downmenu {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(232, 232, 232, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

header .profile .profileactive:hover .downmenu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
    height: 70px;

}

header .profile .profileactive .downmenu a {
    color: black;
    text-decoration: none;

}

header .profile .profileactive .downmenu a:hover {
    width: 100%;
    background-color: #d5d5d5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
}

header.active .profile .profileactive h3 {
    color: black;
}

.infocards {
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;

}



.infocards .lead {
    position: relative;
    padding: 30px;
    width: 70%;
}

.infocards .lead h1 {
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -20px;
    background-color: red;
    font-size: 27px;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
}

.infocards .lead p {
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 3px 3px 10px rgb(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 100;

}

.infocards .lead a {
    text-decoration: none;
    color: white;
    border: 2px red solid;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
}

.infocards .lead a:hover {
    background-color: rgb(220, 0, 0);

}

.infocards .imgbox {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.infocards .imgbox img {
    position: relative;
    width: 400px;
    z-index: 2;
}

.infocards .imgbox::before {
    content: "";
    width: 100px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0px;
    filter: blur(20px);
}

.infocards .lead .info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.infocards .lead .info .infoitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    border-left: 2px rgba(73, 73, 73, 0.499) solid;
}

.infocards .lead .info .infoitem:nth-child(1) {
    border: none;
}

.infocards .lead .info .infoitem i {
    transform: scale(2);
    margin-bottom: 20px;
    color: red;
}

.infocards .lead .info .infoitem p {
    color: white;
}

.freemium {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}


.freemium .plan {
    position: relative;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-height: 470px;
    min-height: 470px;
    transition: 0.4s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.freemium .plan:hover {
    max-height: 490px;
    min-height: 49 0px;
    width: 21.5%;

}


.freemium .plan img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    width: 200px;
    width: 100%;
    object-fit: cover;
}

.freemium .plan span {
    color: white;
    background-color: red;
    position: absolute;
    padding: 5px 20px;
    border-radius: 10px 0px 10px 0px;
    width: 170px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.freemium .plan span h1 {
    font-size: 27px;
}

.freemium .plan ul {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    justify-content: center;
}

.freemium .plan ul li {
    border-bottom: #e8e8e8 2px solid;
    margin-bottom: 5px;
}

.freemium .plan ul li:last-child {
    border: none;
}

.freemium .plan a {
    position: absolute;
    bottom: -10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    border: 2px red solid;

}

.freemium .plan a:hover {
    background-color: transparent;
    color: red;
}




footer {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin-top: 200px;
    color: white;
    background-color: black;
    height: 300px;
}

footer .footercolm {
    width: 250px;
    display: flex;
    flex-direction: column;
}

footer .footercolm a {
    color: white;
}

footer .footercolm a:hover {
    color: rgb(196, 195, 195);
}



footer .footercolm .socialmadia {
    display: flex;
    flex-direction: column;
}

@media (max-width: 925px) {
    .banner .content {
        width: 70%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1100px;
        margin-top: 30px;
    }

    .container .card {
        width: 350px;
    }

    .infocards {
        flex-direction: column;
        height: 1100px;
    }

    .infocards .card {
        width: 350px;
    }

    .header {
        padding: 10px 20px;
    }

    .header .logo {
        margin-left: 10px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 20px;
    }

    footer .footercolm {
        margin-bottom: 50px;
        text-align: center;
    }

    .buttonlog {
        margin: 0px;
        margin-left: 10px;
        width: 60px;
        height: 25px;
    }

    .header nav a {
        font-size: 12px;
    }

    .header nav {
        margin-right: 20px;
    }
}

@media (max-width: 550px) {
    .header {
        padding: 5px 10px;
    }

    .banner .content {
        width: 90%;
    }
}

@media (max-width: 525px) {
    .header nav {
        text-align: center;
    }
}